---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content }}

                <hr>

                <ul class="pager">
                    {% for post in site.categories.blog %}
                        {% if post.url == page.url %}
                            {% assign post_index0 = forloop.index0 %}
                            {% assign post_index1 = forloop.index %}
                        {% endif %}
                    {% endfor %}
                    {% for post in site.categories.blog %}
                        {% if post_index0 == forloop.index %}
                            {% assign next_post = post %}
                        {% endif %}
                        {% if post_index1 == forloop.index0 %}
                            {% assign prev_post = post %}
                        {% endif %}
                    {% endfor %}
                    {% if prev_post %}
                      <li class="previous">
                          <a href="{{ prev_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{prev_post.title}}">&larr; Previous Post</a>
                      </li>
                    {% endif %}
                    {% if next_post %}
                      <li class="next">
                          <a href="{{ next_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{next_post.title}}">Next Post &rarr;</a>
                      </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>
